:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #b27393;
}

.col-image-left {
  background-image: url("./Images/PublicImages/rosto3.JPG");
  background-size: cover;
  background-position: center;
  height: 25em !important;
}
.col-image-right {
  background-image: url("./Images/PublicImages/boca.JPG");
  background-size: cover;
  background-position: center;
  height: 25em !important;
}
.col-image-left2 {
  background-image: url("./Images/PublicImages/rosto5.JPG");
  background-size: cover;
  background-position: center;
  height: 25em !important;
}

.lost-image {
  background-image: url("./Images/PublicImages/images.jpg");
  height: 25em !important;
  width: "720";
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.images-container {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.image {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.input-lg {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
}
.social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: inherit;
}

.social .icon {
  font-size: 1.5rem;
}

.social .list-inline-item .icon:hover {
  color: #b27393;
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}
