:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #4f5658;
}

.col-image-left {
  background-image: url("./Images/PublicImages/images.jpg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("./Images/PublicImages/5137_B.jpg");
  height: 25em !important;
}

.lost-image {
  background-image: url("./Images/PublicImages/images.jpg");
  height: 25em !important;
  width: "720";
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
}
